@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root {
    --first-color: rgb(0, 0, 0);
    --second-color: rgb(240, 240, 240);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--second-color);
}


.note-area {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 70px;
}

.note-area.active {
    z-index: 0;
}
