:root {
    --first-color: rgb(0, 0, 0);
    --second-color: rgb(240, 240, 240);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: var(--second-color);
    box-shadow: 0 -5px 10px var(--first-color);
}

.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 1300px;
    margin: 0 auto;
    padding: 7px 20px;
}

h1 i {
    margin-top: 5px;
    margin-right: 7px;
}

h1 {
    font-size: 30px;
    color: var(--first-color);
}

.menu-buttons {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: var(--second-color);
    opacity: .95;
}

.menu-buttons.active {
    display: flex;
    animation: menuAnim .5s;
}

@keyframes menuAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .95;
    }
}

.menu button {
    position: relative;
    width: 240px;
    margin: 10px 4px;
    padding: 15px 12px;
    background: none;
    color: var(--first-color);
    border: 1px solid var(--first-color);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(150, 150, 150, .6);
    font-size: 12px;
    letter-spacing: 1px;
    overflow: hidden;
    cursor: pointer;
}

.menu button::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, var(--first-color) 51%, rgba(255, 255, 255, 0) 90%);
    opacity: .2;
    transform: translate(-130%) skewX(-25deg);
    transform-origin: right bottom;
    transition: transform .5s;
}

.menu button:hover::before {
    animation: .5s blink;
}

@keyframes blink {
    0% {
        transform: translate(-130%) skewX(-25deg);
    }

    100% {
        transform: translate(150%) skewX(-55deg);
    }
}

button.burger {
    position: relative;
    width: 40px;
    height: 30px;
    padding-left: 40px;
    border: none;
    background: none;
    box-shadow: none;
    overflow: hidden;
}

button.burger span {
    position: absolute;
    left: 50%;
    height: 2px;
    width: 28px;
    transform: translateX(-50%);
    background-color: var(--first-color);
    transition: transform .3s;
}

button.burger span:first-child {
    top: 15%;
}

button.burger span:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
}

button.burger span:last-child {
    bottom: 15%;
}

button.burger.active span:first-child {
    transform: translate(-50%, 9px) rotate(45deg);
}

button.burger.active span:nth-child(2) {
    opacity: 0;
}

button.burger.active span:last-child {
    transform: translate(-50%, -9px) rotate(-45deg);
}

button.reset {
    color: red;
}

button.color {
    width: auto;
    margin-left: auto;
    padding: 0 20px;
    border: none;
    box-shadow: none;
}

button.color::before {
    width: 0;
    height: 0;

}

button.color:focus {
    outline: none;
}

button.color:focus>.switcher {
    background-color: grey;
}

button.color p {
    font-size: 8px;
}

button.color .switcher {
    position: relative;
    margin: 3px auto 0;
    width: 35px;
    height: 16px;
    border-radius: 10px;
    border: 1px solid var(--first-color);
    z-index: 0;
    background-color: transparent;
}

button.color .knob {
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 1px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--first-color);
    transition: transform .2s;
}