:root {
    --first-color: rgb(0, 0, 0);
    --second-color: rgb(240, 240, 240);
}

h1 {
    font-size: 34px;
}

.menu-buttons {
    position: relative;
    top: none;
    left: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    width: auto;
    height: auto;
    z-index: 1;
    background-color: transparent;
}

.menu button {
    width: auto;
    margin: 0 4px;
    padding: 10px 12px;
    color: var(--first-color);
    border: 1px solid var(--first-color);
    font-size: 10px;
}

.menu button::before {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, var(--first-color) 51%, rgba(255, 255, 255, 0) 90%);
}

button.burger {
    display: none;
}

button.reset {
    color: red;
}

button.color {
    border: none;
    box-shadow: none;
}