:root {
    --first-color: rgb(0, 0, 0);
    --second-color: rgb(240, 240, 240);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--first-color);
}

button {
    position: relative;
    width: 180px;
    margin: 5px 4px;
    padding: 8px 25px;
    background: none;
    border: 1px solid var(--first-color);
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

button::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, var(--first-color) 51%, rgba(255, 255, 255, 0) 90%);
    opacity: .2;
    transform: translate(-130%) skewX(-25deg);
    transform-origin: right bottom;
    transition: transform .5s;
}

button:hover::before {
    animation: .5s blink;
}

@keyframes blink {
    0% {
        transform: translate(-130%) skewX(-25deg);
    }
    100% {
        transform: translate(150%) skewX(-55deg);
    }
}

p {
    margin: 20px 0;
    font-size: 14px;
    text-align: center;
}


.accept-box {
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 90%;
    max-width: 600px;
    background-color: var(--second-color);
    box-shadow: 0 0 10px var(--first-color);
    border-radius: 5px;
}

.accept-box h3 {
    margin-bottom: 10px;
    color: red;
    text-transform: uppercase;
}


button.reset {
    color: red;
}