:root {
    --first-color: rgb(0, 0, 0);
    --second-color: rgb(240, 240, 240);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--first-color);
}

.info-content {
    text-align: center;
}

button {
    padding: 8px 25px;
    width: 180px;
    background: none;
    border: 1px solid var(--first-color);
    border-radius: 5px;
    font-size: 10px;
}

p {
    font-size: 14px;
    margin: 20px 0;
}

.info-box {
    display: none;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 40px 0;
    width: 90%;
    max-width: 600px;
    background-color: var(--second-color);
    box-shadow: 0 0 10px var(--first-color);
    border-radius: 5px;
    cursor: pointer;
}

.info-box h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.info-box h3:last-of-type {
    margin-top: 30px;
}

button.empty-bin {
    color: orange;
}

button.reset {
    color: red;
}